@font-face {
  font-family:"Futura-LT-Book";
  src:url("Futura LT Book.woff2") format("woff2"),url("Futura LT Book.woff") format("woff"),url("Futura LT Book.otf") format("opentype");
  font-style:normal;font-weight:400;
}

* {
  font-family: Futura-LT-Book, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 1.1em;
  background: #000000;
  color: #ffffff;
}

.header {
    max-width: 90%;
}

h1 {
  font-size: 1.8em;
}

.content {
  max-width: 90%;
  margin: 0 auto;
}

a {
  color: #316AB1;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Social icons */
.fab {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

img.music-platform {
  width: 3em;
  padding-right: 1em;
}
